/* TEMPLATE STYLES */

/* Necessary for full page carousel*/

html,
body,
.view {
  height: 100%;
}

main {
  margin-top: 3rem;
}

main .card {
  margin-bottom: 2rem;
}

.container.secondary{
  margin-top:7rem;
}

/* Navigation*/
.navbar{
  background-color: white;
  margin-bottom: 10px;
}

.navbar.secondary{
  background-color: white;
}

.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
  background-color: lightblue;
}

footer.page-footer {
  background-color: lightblue;
  margin-top:0;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: lightblue;
  }
}

/* Carousel*/
.carousel {
  height: 50%;
}

@media (max-width: 776px) {
  .carousel {
    height: 100%;
  }
}

.carousel-item{
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-item:nth-child(1) {
  background: url("../images/the-dj.jpg") no-repeat;
  background-size: cover;
  opacity: 0.4;
}

.carousel-item:nth-child(2) {
  background: url("../images/karate-kids.jpg") no-repeat;
  background-size: cover;
}

.carousel-item:nth-child(3) {
  background: url("../images/draw-something.jpg") no-repeat;
  background-size: cover;
}

/*Caption*/

.flex-center {
  color: #fff;
}

/*Cards*/
.event-data li i {
  margin-right: 20px;
}

.view-details {
  margin: 10px 0;
  text-align: center;
}

.card-block h4{
  color: darkblue;
}


/*Flip Card*/

.flip {
  -webkit-perspective: 800px;
  perspective: 800px;
  position: relative;
}

.flip.card.flipped {
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}

.flip.card {
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.flip.card .face {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}

.flip.card .front {
  position: relative;
  width: 100%;
  z-index: 1;
}

.flip.card .back {
  position: absolute;
  top:1px;
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}

.flip-control {
  font-size: 1.2em;
}

.register-button{
  text-align: center;
}

.table-details{
}

label.error, label.error.active{
  width: 90%;
  text-align: right;
  margin-top:40px;
  color: red !important;
}


/** Here start the new template **/

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.card img{
  width: 356px;
  height: 280px;
}
