<div class="container">
    <footer class="text-muted">
        <div class="container">
            <ul class="nav nav-inline">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <p class="text-xs-center copyright">© {{labels.projectName}} 2016</p>
        </div>
    </footer>
</div>