<div class="container">
    <div class="row">
        {{#each meetups}}
            asdfasf
            <div class="col-sm-6 col-md-6 col-lg-4">
                <!--Card-->
                <div class="card flip">
                    <div class="face front">
                        <!--Card image-->

                            <div class="card-image" style="background-image: url('./images/meeting-filter.jpg')"></div>

                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block">
                            <h4 class="card-title">{{eventName}}</h4>
                            <h6 class="card-subtitle text-muted">Category</h6>
                            <p class="card-text"><em>{{eventType}}</em></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-usd"></i> Free</li>
                            <li class="list-group-item"><i class="fa fa-users"></i> 10 - 20 People</li>
                        </ul>
                        <!--/.Card content-->


                        <!-- Card footer -->
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-1 col-md-1 col-lg-1"><i class="fa fa-calendar"></i></div>
                                <div class="col-sm-10 col-md-10 col-lg-10">Wednesday, Aug 17 7:00 PM</div>
                            </div>
                            <div class="view-details">
                                <div class="flip-control">
                                    <a href="#!"><i class="fa fa-chevron-circle-right"></i> Review Details</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card footer -->
                    </div>

                    <div class="face back">
                        <div class="card-block">
                            <a href="#!" class="flip-control pull-right"><i class="fa fa-chevron-circle-left"></i></a>
                            <!--Title-->
                            <h4 class="card-title">Let's see the Sunset</h4>
                            <!--Text-->
                            <p class="card-text">We are going to see the sunset drinking some beers. Please confirm
                                before to go the
                                event.</p>
                            <div class="table-responsive">
                                <table class="table table-hover table-details">
                                    <!--Table body-->
                                    <tbody>
                                    <!--First row-->
                                    <tr>
                                        <th scope="row">
                                            <i class="fa fa-calendar"></i>
                                        </th>
                                        <td>
                                            Wednesday, Aug 17 7:00 PM
                                        </td>
                                    </tr>
                                    <!--/First row-->
                                    <!--Second row-->
                                    <tr>
                                        <th scope="row">
                                            <i class="fa fa-map-marker"></i>
                                        </th>
                                        <td>
                                            <span class="font-weight-bold">Atom House,</span>
                                            Carrera 7 # 54-14, Bogotá
                                        </td>
                                    </tr>
                                    <!--/Second row-->
                                    <!--Third row-->
                                    <tr>
                                        <th scope="row">
                                            <i class="fa fa-users"></i>
                                        </th>
                                        <td>
                                            10 - 20 People
                                        </td>
                                    </tr>
                                    <!--/Third row-->
                                    <!--Fourth row-->
                                    <tr>
                                        <th scope="row">
                                            <i class="fa fa-usd"></i>
                                        </th>
                                        <td>
                                            Free
                                        </td>
                                    </tr>
                                    <!--/Fourth row-->
                                    </tbody>
                                    <!--/Table body-->
                                </table>
                            </div>
                            <!--/Table Details-->
                            <div class="register-button">
                                <a href="#" class="btn btn-success waves-effect waves-light">Register</a>
                                <a href="#" class="btn btn-info waves-effect waves-light">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Card-->
            </div>
        {{/each}}
    </div>
</div>
