<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/favicon.ico" rel="shortcut icon"/>
    <title>{{title}}</title>
    {{>styles}}
</head>

<body>

{{>menu}}

<div class="jumbotron create-meetup-heading">
    <div class="container">
        <h2 class="heading-title">Create Meetup</h2>
        <p>Do you want to invite people and enjoy a good time doing things of your particular interest?...
            Then this form is for you, please fill the next form and start a new meetup. :-)
        </p>
        <p style="text-align: center">
            <a href="#create-metup" id="scrollDown"><i class="fa fa-arrow-down" idaria-hidden="true"></i></a>
        </p>
        <a name="create-metup"></a>
    </div>
</div>

<div class="container page" role="main">
    {{>meetup-create-form}}
</div>

{{>footer}}
{{>scripts}}

<script>
    $(document).ready(function() {

        function scrollToAnchor(aid) {
            var aTag = $("a[name='" + aid + "']");
            $('html,body').animate({scrollTop: aTag.offset().top}, 'slow');
        }

        $('#scrollDown').click(function() {
            scrollToAnchor($(this).attr('href').replace('#', ''));
        });

        // Adding validation for min datepicker
        var today = new Date(),
            year = today.getFullYear(),
            month = (today.getMonth() < 9) ? '0' + (today.getMonth()+1) : (today.getMonth()+1),
            day = (today.getDate() < 10 ) ? '0' + today.getDate() : today.getDate();

        today = year + '-' + month + '-' + day + 'T00:00:00';

        $('input[name=eventStartDate]').attr('min', today);
        $('input[name=eventEndDate]').attr('min', today);

        loadCountries('#countries');
    });

</script>

</body>
</html>
