<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/favicon.ico" rel="shortcut icon"/>
    <title>{{title}}</title>
    {{>styles}}
</head>

<body>

{{>menu}}

<div class="container page" role="main">
    <div class="jumbotron">
        <h2>Create Meetup</h2>
        <p>If you want to invite people and enjoy a good time with other, please fill the next form and
        start a new meetup :D</p>
    </div>
    {{>meetup-create-form}}
</div>

{{>footer}}
{{>scripts}}

<script>
    $(document).ready(function() {
        loadCountries('#countries');
    });
</script>

</body>
</html>
