<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/favicon.ico" rel="shortcut icon"/>
    <title>{{title}}</title>
    {{>styles}}
</head>

<body>

{{>menu}}

<div class="container page">
    <div class="row">
        <div class="col-md-6 offset-sm-3">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link signin-tab {{#ifCond activeTab '==' 'signin'}}active{{/ifCond}}" href="#signin" role="tab" data-toggle="tab"><i
                            class="fa fa-user"
                            aria-hidden="true"></i> {{labels.menu.signIn}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link signup-tab {{#ifCond activeTab '==' 'signup'}}active{{/ifCond}}" href="#signup" role="tab" data-toggle="tab"><i
                            class="fa fa-user-plus"
                            aria-hidden="true"></i> {{labels.menu.signUp}}
                    </a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content form-sign-in">
                <div role="tabpanel" class="tab-pane {{#ifCond activeTab '==' 'signin'}}fade in active{{/ifCond}}" id="signin">
                    {{>signin-form}}
                </div>
                <div role="tabpanel" class="tab-pane {{#ifCond activeTab '==' 'signup'}}fade in active{{/ifCond}}" id="signup">
                    {{>signup-form}}
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}
{{>scripts}}

<script>
    $(document).ready(function () {
        loadCountries('#countries');
    });
</script>

</body>
</html>
